.weatherPage {

    height: 100vh;
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20220217/pngtree-blue-atmospheric-weather-forecast-illustration-background-image_948664.jpg);
    background-size: no-repeat;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  
  
  .w1{
    width: 200px;
    height: 100px;
    margin: 10px 10px;
    display: flex;
    background: rgb(149, 170, 226);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .w2{
    width: 200px;
    height: 100px;
    margin: 10px 10px;
    display: flex;
    background: rgb(149, 170, 226);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .w3{
    width: 200px;
    height: 100px;
    margin: 10px 10px;
    display: flex;
    background: rgb(149, 170, 226);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .w4{
    width: 200px;
    height: 100px;
    margin: 10px 10px;
    display: flex;
    background: rgb(149, 170, 226);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  body {
    background-size: no-repeat;
    background-size: cover;
    height: 100%;
    
  
  }
  input{
    padding: 10px 10px;
    margin: 10px 10px;
  }
  
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
  
  }
  
  .weather {
    margin: 10px 10px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
  
  }
  .container .text{  
    height: 10px;
    background-color: white;
  }
  .btn1 {
    display: inline-block;	
      box-sizing: border-box;
      outline: none;
      border: none;  
      border-radius: 4px;
      text-decoration: none;
      color: #fff;
      background-color: #31a85f;
      box-shadow: 0 2px #459263;
      cursor: pointer;
      user-select: none;
      appearance: none;
      touch-action: manipulation;  
      vertical-align: top;
  }
  .btn2{
      display: inline-block;	
      box-sizing: border-box;
      outline: none;
      border: none;  
      border-radius: 4px;
      text-decoration: none;
      color: #fff;
      background-color: #b64c32;
      box-shadow: 0 2px #913a46;
      cursor: pointer;
      user-select: none;
      appearance: none;
      touch-action: manipulation;  
      vertical-align: top;
  }
  